* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(40, 40, 40);
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
}

nav {
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid red;
}

#nav1 {
    border: 1px solid green;
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: flex-start;
}

.songsec {
    border: 1px solid blue;
    margin-left: 20px;
    font-weight: bold;
    color: pink;
}

.songsec:hover {
    color: wheat;
    cursor: pointer;
    transform: scale(1.2);
}

#nav1>i {
    transform: scale(2.5);
    margin-left: 20px;
    color: rgb(234, 126, 255);
}

#pglist {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    list-style-type: none;
    border: 1px solid white;
}


#searchbar {
    padding: 0 10px;
    width: 30vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.096);
    border: none;
    border-radius: 20px;
    outline: none;
}

.btn {
    background-color: rgba(255, 255, 255, 0.055);
    width: 90px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

.btn:active {
    font-size: 16px;
}

.container {
    min-height: 80vh;
    position: relative;
    top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url(Mic.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.song {
    width: 50vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.song:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    cursor: pointer;
}

.song>i {
    transform: scale(2);
    margin-left: 30px;
}

.song>span {
    margin-left: 30px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: black;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.secs {
    margin-top: 10px;
    margin-left: 35px;
    align-self: flex-start;
}

#seekbar {
    margin-top: 10px;
    width: 95vw;
    outline: none;
    cursor: pointer;
}

.range {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songbtns {
    display: flex;
    width: 20vw;
    height: auto;
    margin-top: 30px;
    justify-content: space-around;
}

.btns {
    list-style-type: none;
}

.btns:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.songinfo {
    margin-top: 35px;
    margin-left: 8px;
    position: absolute;
    left: 30px;
    top: 40px;
    color: rgb(243, 92, 193);
}

.underlined {
    text-decoration: underline;
    color: wheat;
}

.opaque {
    background-color: rgba(0, 0, 0, 0.90);
}

.opaque span {
    color: rgb(255, 143, 255);
    margin: auto;
    font-size: 22px;
}

.opaque i {
    color: rgb(255, 143, 255);
}

@media (max-width:1110px) {
    #nav2 {
        display: none;
    }

    #nav1 {
        width: 100vw;
        margin: 0;
    }

    #pglist {
        width: 80vw;
        margin: auto;
        justify-content: center;
    }

    .container {
        align-items: center;
    }

    .song {
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }


    .song>span {
        font-size: 15px;
    }


    .text {
        display: none;
    }
}

@media (max-width:700px) {
    .songsec {
        font-size: 15px;
    }
}

@media (max-width:550px) {
    .songsec{
        font-size: 12px;
    }
    .song>span{
        font-size: 10px;
    }
    .time{
        font-size: 10px;
    }
    .secs{
        font-size: 10px;
    }
    #nav1>i{
        display: none;
    }
    .songbtns{
        margin-top: 10px;
    }
    footer{
        height: 15vh;
    }
    .song>i{
        transform: scale(1.2);
        margin-left: 10px;
    }
    .song>span{
        margin-left: 15px;
    }
}